<!DOCTYPE html>
<html lang="en">
	<head>
		{{>head}}
	</head>
	<body>
		<div class="container-fluid bg-body-secondary px-0 pb-5">
			<!-- NAV BAR -->
      {{> navbar}}

			<!-- MAIN PAGE -->
			<div class="d-flex flex-column gap-4 mt-5 px-5 ">
				<h1 class="h3 fw-bold mx-auto">{{project.name}}</h1>
				<div class="d-flex gap-5 justify-content-center">
					<div class="col-12 col-md-6 col-lg-4">
						<div class="ratio ratio-4x3">
							<img src="{{project.image}}" alt="Project demo" class="img-fluid rounded shadow object-fit-cover">
							</div>
						</div>
						<div>
							<div class="mb-4">
								<h2 class="h5">Duration</h2>
								<div class="d-flex flex-column gap-1">
									<div class="d-flex align-items-center gap-2">
										<img src="/assets/icons/calendar-dots.svg" alt="calender" width="20" height="20">
											<span>{{project.startDate}} - {{project.endDate}}</span>
										</div>
										<div class="d-flex align-items-center gap-2">
											<img src="/assets/icons/clock.svg" alt="clock" width="20" height="20">
												<span>{{project.durationLabel}}</span>
											</div>
										</div>
									</div>
									<div>
										<h2 class="h5">Technologies</h2>
										<div class="container text-center">
											<div class="row row-cols-2 g-3">
                  {{#each project.technologies}}
                    
												<div class="col d-flex align-items-center justify-content-start gap-3">
													<img 
                        src="/assets/icons/{{this.icon}}" 
                        alt="{{this.name}}" 
                        width="25" 
                        height="25"
                      >
														<span>{{this.name}}</span>
													</div>
                  {{/each}}
                
												</div>
											</div>
										</div>
									</div>
								</div>
								<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto iste illo facilis itaque dolore saepe molestias tenetur, nihil repellat ipsum! Hic harum expedita illum doloremque quasi dolore vero incidunt amet ex, velit dolorum nobis porro iste quibusdam architecto rem repellat, perspiciatis repellendus non excepturi omnis? Delectus ex quos fugiat consequuntur? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nulla porro earum dolorem amet, expedita consequatur voluptatem aperiam atque mollitia sequi sed id laboriosam officia ullam. Quas obcaecati maxime temporibus eaque unde eius laboriosam aperiam perspiciatis, modi nisi pariatur ex nobis distinctio consectetur sunt ipsa corrupti nulla quidem. Ipsam, eum.</p>
							</div>
						</div>
						<script src="/bootstrap/js/bootstrap.bundle.js"></script>
					</body>
				</html>